<link rel="import" href="../../../client/bower_components/polymer/polymer.html">
<link rel="import" href="../../../node_modules/express-web-components/express-app.html">
<link rel="import" href="../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../node_modules/express-web-components/express-config.html">
<link rel="import" href="../../../node_modules/express-web-components/express-router.html">

<!--Server Config-->
<script rel="import" src="server-config.js"></script>
<!--DB Routes-->
<link rel="import" href="../router/db-router.html">

<dom-module id="server-app">
    <template>
        <express-app port="[[port]]">
            <express-config callback="[[staticMW]]"></express-config>

            <express-middleware callback="[[bodyParserMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserUrlMW]]"></express-middleware>
            <express-middleware callback="[[cookieParserMW]]"></express-middleware>
            <express-middleware callback="[[sessionMW]]"></express-middleware>

            <express-config callback="[[cookieMW]]"></express-config>

            <express-router path="/">
                <express-middleware method="get" path="/" callback="[[indexHandler]]"></express-middleware>
                <express-middleware method="get" path="/login" callback="[[loginHandler]]"></express-middleware>
                <express-middleware method="get" path="/logout" callback="[[logoutHandler]]"></express-middleware>
            </express-router>
            <express-router path="/user">
                <express-middleware method="get" path="/list" callback="[[userListHandler]]"></express-middleware>
                <express-middleware method="get" path="/new" callback="[[userCreateHandler]]"></express-middleware>
                <express-middleware method="get" path="/:id" callback="[[userDetailsHandler]]"></express-middleware>
            </express-router>

            <db-router></db-router>

            <express-middleware callback="[[undefinedPageMW]]"></express-middleware>

            <express-config callback="[[handleEndpoint]]"></express-config>
        </express-app>
    </template>

    <script>
        class ServerApp extends Polymer.Element {

            static get is() {
                return 'server-app';
            }

            constructor() {
                super();

                this.port = 5000;
                this.bodyParserMW = bodyParser.json();
                // initialize body-parser to parse incoming parameters requests to req.body
                this.bodyParserUrlMW = bodyParser.urlencoded({extended: true});
                // initialize cookie-parser to allow us access the cookies stored in the browser.
                this.cookieParserMW = cookieParser();
                // initialize express-session to allow us track the logged-in user across sessions.
                this.sessionMW = session({
                    key: 'user_sid',
                    secret: 'somerandonstuffs',
                    resave: false,
                    saveUninitialized: false,
                    cookie: {
                        expires: new Date(Date.now() + 3600000),
                        maxAge: 3600000
                    }
                });

                this.userCreateHandler = (req, res) => {
                    this.sessionChecker(req, res, this.sendUserCreateSite);
                };

                this.userListHandler = (req, res) => {
                    this.sessionChecker(req, res, this.sendUserListSite);
                };

                this.userDetailsHandler = (req, res) => {
                    this.sessionChecker(req, res, this.sendUserDetailsSite);
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
            }

            staticMW(app, express) {
                app.use(express.static('client'));
            }

            handleEndpoint(app, express) {
                console.log(listEndpoints(app));
            }

            // This middleware will check if user's cookie is still saved in browser and user is not set, then automatically log the user out.
            // This usually happens when you stop your express server after login, your cookie still remains saved in the browser.
            cookieMW(app, express) {
                app.use((req, res, next) => {
                    if (req.cookies.user_sid && !req.session.user) {
                        res.clearCookie('user_sid');
                    }
                    next();
                });
            }

            // middleware function to check for logged-in users
            sessionChecker(req, res, callback) {
                if (!req.session.user && !req.cookies.user_sid) {
                    console.log("redirect -> login!");
                    res.redirect('/login');
                } else {
                    callback(req, res);
                }
            }


            indexHandler(req, res) {
                console.log("index Handler");
                res.sendFile(path.resolve('./client/index.html'));
            }

            sendUserDetailsSite(req, res) {
                // if no valid param is given, id must be numeric
                if (!isNaN(req.params.id)) {
                    res.sendFile(path.resolve('./client/userdetails.html'))
                } else {
                    res.redirect('/');
                }
            }

            sendUserCreateSite(req, res) {
                console.log("Sent user create site");
                res.sendFile(path.resolve('./client/usercreate.html'))
            }

            sendUserListSite(req, res) {
                console.log("Sent user list site");
                res.sendFile(path.resolve('./client/userlist.html'))
            }

            loginHandler(req, res) {
                if (req.session.user && req.cookies.user_sid) {
                    res.clearCookie('user_sid');
                    res.redirect('/');
                } else {
                    console.log("Sent login site");
                    res.sendFile(path.resolve('./client/login.html'));
                }
            }

            logoutHandler(req, res) {
                if (req.session.user && req.cookies.user_sid) {
                    res.clearCookie('user_sid');
                    res.redirect('/');
                } else {
                    res.redirect('/login');
                }
            }

            undefinedPageMW(req, res) {
                res.status(404).send("Sorry can't find that!")
            }
        }

        customElements.define(ServerApp.is, ServerApp);
    </script>
</dom-module>