<link rel="import" href="../../../client/bower_components/polymer/polymer.html">
<link rel="import" href="../../../node_modules/express-web-components/express-app.html">
<link rel="import" href="../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../node_modules/express-web-components/express-config.html">
<link rel="import" href="../../../node_modules/express-web-components/express-router.html">

<!--Server Config-->
<script rel="import" src="server-config.js"></script>
<!--DB Routes-->
<link rel="import" href="../router/api-router.html">
<link rel="import" href="../router/db-router.html">

<dom-module id="server-app">
    <template>
        <express-app port="[[port]]">
            <express-config callback="[[staticMW]]"></express-config>
            <express-middleware callback="[[bodyParserMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserUrlMW]]"></express-middleware>
            <express-router path="/">
                <express-middleware method="get" path="/" callback="[[indexHandler]]"></express-middleware>
                <express-middleware method="get" path="/user" callback="[[userHandler]]"></express-middleware>
                <express-middleware method="get" path="/login" callback="[[loginHandler]]"></express-middleware>
            </express-router>
            <api-router></api-router>
            <db-router></db-router>
        </express-app>
    </template>

    <script>
        class ServerApp extends Polymer.Element {

            static get is() {
                return 'server-app';
            }

            constructor() {
                super();

                this.port = 5000;
                this.bodyParserMW = bodyParser.json();
                this.bodyParserUrlMW = bodyParser.urlencoded({extended: false});

            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
            }


            staticMW(app, express) {
                console.log("static");
                app.use(express.static('client'));
            }


            indexHandler(req, res) {
                res.sendFile(path.resolve('./client/user.html'));
            }

            userHandler(req, res) {
                res.sendFile(path.resolve('./client/user.html'));
            }

            loginHandler(req, res) {
                res.sendFile(path.resolve('./client/login.html'));
            }

        }

        customElements.define(ServerApp.is, ServerApp);

    </script>
</dom-module>


<!--<dom-module id="app-component">-->
<!--<template>-->
<!--<express-app port="3000">-->
<!--<express-config callback="[[paramCallback]]"></express-config>-->
<!--<express-app-param name="collectionName" callback="[[paramCallback]]"></express-app-param>-->
<!--<express-middleware callback="[[bodyParserMW]]"></express-middleware>-->
<!--<express-middleware callback="[[bodyParserURLEncodedMW]]"></express-middleware>-->
<!--<express-middleware callback="[[loggerMW]]"></express-middleware>-->
<!--<express-middleware method="get" path="/" callback="[[getIndex]]"></express-middleware>-->
<!--<express-middleware method="get" path="/collections/:collectionName" callback="[[getCollection]]"></express-middleware>-->
<!--<express-middleware method="post" path="/collections/:collectionName" callback="[[postCollection]]"></express-middleware>-->
<!--<express-middleware method="get" path="/collections/:collectionName/:id" callback="[[getCollectionEntity]]"></express-middleware>-->
<!--<express-middleware method="put" path="/collections/:collectionName/:id" callback="[[putCollectionEntity]]"></express-middleware>-->
<!--<express-middleware method="delete" path="/collections/:collectionName/:id" callback="[[deleteCollectionEntity]]"></express-middleware>-->
<!--</express-app>-->
<!--</template>-->

<!--<script src="server.component.ts"></script>-->
<!--</dom-module>-->