<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-column.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">


<dom-module id="user-create">
    <template>
        <style is="custom-style">
            .text-error {
                color: #db4437;
                text-align: center;
                @apply(--paper-font-caption);

            }
        </style>

        <h2>Add User</h2>

        <div class="text-error">
            <span id="err-msg"></span>
        </div>

        <iron-form id="eventsDemo">
            <form method="POST" action="../db/user" id="form" enctype="application/x-www-form-urlencoded">
                <paper-input label="Username" name="username" required auto-validate
                             error-message="Invalid username!">
                    <iron-icon icon="account-circle" slot="prefix"></iron-icon>
                </paper-input>
                <paper-input label="Password" name="password" error-message="Invalid password!" type="password" required
                             auto-validate char-counter
                             minlength="6" maxlength="20">
                    <iron-icon icon="lock" slot="prefix"></iron-icon>
                </paper-input>
                <paper-input label="email" name="email">
                    <iron-icon icon="mail" slot="prefix"></iron-icon>
                </paper-input>
                <br>
                <paper-button raised disabled on-click="_submit" id="eventsDemoSubmit">
                    <paper-spinner id="spinner"></paper-spinner>
                    Create
                </paper-button>

                <div class="output"></div>
            </form>
        </iron-form>

    </template>

    <script>


        class UserCreate extends Polymer.Element {
            static get is() {
                return 'user-create';
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                /* form functions*/
                let eventsDemoSubmit = this.shadowRoot.getElementById('eventsDemoSubmit');
                let eventsDemo = this.shadowRoot.getElementById('eventsDemo');
                let spinner = this.shadowRoot.getElementById('spinner');
                let errMsg = this.shadowRoot.getElementById('err-msg');

                this.$.eventsDemo.addEventListener('iron-form-submit', function () {
                    console.log("--- iron form submit --- ");

                    spinner.active = false;
                    spinner.hidden = true;
                    eventsDemoSubmit.disabled = false;
                }.bind(this));

                this.$.eventsDemo.addEventListener('iron-form-response', function (e) {
                    console.log("--- iron form response --- ");
                    if (e.detail.__data.response.hasOwnProperty("valid") && e.detail.__data.response.valid == true) {

                        window.location.replace("/user/list");
                    } else {
                        errMsg.innerHTML = e.detail.__data.response.message;
                    }
                }.bind(this));

                eventsDemo.addEventListener('change', function (event) {
                    console.log("---- form changed -----");

                    // Validate the entire form to see if we should enable the `Submit` button.
                    eventsDemoSubmit.disabled = !eventsDemo.validate();
                });

            }

            _submit() {
                let spinner = this.shadowRoot.getElementById('spinner');

                spinner.active = true;
                spinner.hidden = false;
                this.$.eventsDemo.submit();
            }

            connectedCallback() {
                super.connectedCallback();
            }
        }

        customElements.define("user-create", UserCreate);

    </script>
</dom-module>
