<link rel="import" href="../../../client/bower_components/polymer/polymer.html">
<link rel="import" href="../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../node_modules/express-web-components/express-router.html">

<link rel="import" href="./../db-query.html">
<link rel="import" href="./../db-find.html">
<link rel="import" href="./../db-limit.html">


<script rel="import" src="../models/users.js"></script>


<dom-module id="db-router">
    <template>
        <express-router path="/db">

            <express-router path="/">
                <express-middleware method="get" path="/user/list" callback="{{userListMW}}"></express-middleware>
                <express-middleware method="get" path="/user/:id"
                                    callback="[[userDetailsHandler]]"></express-middleware>
                <express-middleware method="post" path="/user/:id"
                                    callback="[[userUpdateHandler]]"></express-middleware>
                <express-middleware method="post" path="/login" callback="[[loginHandler]]"></express-middleware>
                <express-middleware method="post" path="/user" callback="[[newUserHandler]]"></express-middleware>
                <express-middleware method="get" path="/running-since"
                                    callback="[[runningSinceHandler]]"></express-middleware>
                <express-middleware method="get" path="/user/cnt"
                                    callback="[[userCountHandler]]"></express-middleware>
            </express-router>

            <!--<express-middleware method="post" path="/login" callback="[[loginHandler]]"></express-middleware>-->
            <!--{{}} needed because of 2 way binding for the this reference-->
            <!--<express-middleware method="get" path="/user-list" callback="{{userListMW}}"></express-middleware>-->
            <!--<express-middleware method="post" path="/new-user" callback="[[newUserHandler]]"></express-middleware>-->


            <!--<express-middleware method="get" path="/running-since"-->
            <!--callback="[[runningSinceHandler]]"></express-middleware>-->
            <!--<express-middleware method="get" path="/user-cnt"-->
            <!--callback="[[userCountHandler]]"></express-middleware>-->
        </express-router>

        <db-query id="dbQuery" db-model="[[userModel]]">
            <db-find find-query="[[query]]" static='{"username":"Test1"}' test="{{query}}"></db-find>
            <!--'{"username":"Test1","email": "test@gmx.at"}'-->
            <db-limit limit="10"></db-limit>
        </db-query>
    </template>

    <script>

        class DBRouter extends Polymer.Element {

            static get is() {
                return 'db-router';
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
                // When possible, use afterNextRender to defer non-critical
                // work until after first paint.
                Polymer.RenderStatus.afterNextRender(this, function () {
                });

                this.userListMW = (req, res) => {
                    this.testDbQuery(req, res);
                };
                this.query = {};
                this.query["username"] = "Test";

                this.userModel = UsersModel;

                console.dir(this.$);
            }

            testDbQuery(req, res) {
                /* querySelector cant access the components functions, returns undefined*/
                console.dir(this.shadowRoot.querySelector('#dbQuery'));
                /* need get element by id to access function  */
                this.shadowRoot.getElementById("dbQuery").execute(function (err, users) {
                    console.log("Query did it yayaaaaaay");
                    res.json({success: true, users: users});
                });

            }


            // GET db user list.
            userListHandler(req, res) {

                // START query component
//                this.testDbQuery(req, res);

                // END  query component
                console.log("DB handler for user list");
                console.log(req.query.sort);


                let order = -1;
                let _column = 'username';

                /*
                 * req.query contains all GET Parameters
                 * via query.<parameter> the parameter is accessed
                 *
                 * --get the sort parameter--
                 *
                 */
                if (req.query.sort !== "") {
                    let arr = req.query.sort.split(","); //sort ex.: "username,asc"
                    _column = arr[0];
                    if (arr[1] === "asc")
                        order = 1;
                }

                let _sort = {[_column]: order};
                if (_column == "undefined") {
                    _sort = {};
                }


                UsersModel.getAllUsers(_sort, (err, users) => {
                    if (err) {
                        res.json({success: false, message: `Failed to load all lists. Error: ${err}`});
                    }
                    else {
                        res.write(JSON.stringify({success: true, users: users}, null, 2));
                        res.end();

                    }
                });


            }

            //insert new user into db
            newUserHandler(req, res) {

                console.log("db-router new USER handler");

                // Get our form values. These rely on the "name" attributes
                // create new User and call function addUser from the users model
                let newUser = new UsersModel({
                    username: req.body.username,
                    email: req.body.email,
                    password: req.body.password
                });

                UsersModel.addUser(newUser, (err, result) => {
                    if (err) {
                        res.json({success: false, message: `Failed to create a new user. Error: ${err}`});

                    }
                    else
                        res.json({success: true, message: "User added successfully."});
                });

            }

            // update existing user
            userUpdateHandler(req, res) {

                const userID = req.params.id;

                // Get our form values. These rely on the "name" attributes
                // create new User and call function addUser from the users model
                let user = new UsersModel({
                    username: req.body.username,
                    email: req.body.email,
                    password: req.body.password
                });

                UsersModel.updateUser(userID, user, (err, result) => {
                    if (err) {
                        res.json({success: false, message: `Failed to upadate the user. Error: ${err}`});

                    }
                    else
                        res.json({success: true, message: "User updated successfully."});
                });
            }

            //get user details
            userDetailsHandler(req, res) {

                const userID = req.params.id;

                console.log("db-router user details handler");

                UsersModel.getUserByID(userID, (err, user) => {
                    if (err) {
                        res.json({success: false, message: `Failed to create a new user. Error: ${err}`});

                    }
                    else
                        res.json({success: true, user: user});
                });

            }

            //check login
            loginHandler(req, res) {

                console.log("db-router login attempt");

                var username = req.body.username;
                var password = req.body.password;


                UsersModel.validateUser(username, password, (err, user) => {
                    if (err) {
                        res.json({success: false, valid: false, message: `Failed to validate user. Error: ${err}`});
                    }
                    else {

                        if (!user) {
                            res.json({
                                success: true,
                                valid: false,
                                message: "Invalid username or password"
                            });
                        } else {
                            req.session.user = user; // set users session variable
                            res.json({success: true, valid: true});
                        }
                    }
                });
            }


            //returns the date since the db is running and up
            runningSinceHandler(req, res) {

                console.log("db-router running since handler");


                UsersModel.runningSinceDate((err, date) => {

                    console.log(err);
                    console.log(date);
                    if (err) {
                        res.json({success: false, message: `Failed to get running-since data. Error: ${err}`});

                    }
                    else
                        res.json({success: true, date: date});
                });

            }

            //returns the date since the db is running and up
            userCountHandler(req, res) {

                console.log("db-router user count handler");

                UsersModel.usersCount((err, cnt) => {
                        if (err)
                            res.json({success: false, message: `Failed to get users count. Error: ${err}`});
                        else
                            res.json({success: true, cnt: cnt});

                    }
                );

            }
        }


        customElements.define(DBRouter.is, DBRouter);
    </script>
</dom-module>
