<link rel="import" href="../../../client/bower_components/polymer/polymer.html">
<link rel="import" href="../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../node_modules/express-web-components/express-router.html">

<link rel="import" href="./../db-query.html">
<link rel="import" href="./../db-find.html">
<link rel="import" href="./../db-limit.html">


<script rel="import" src="../models/users.js"></script>


<dom-module id="db-router">
    <template>
        <express-router path="/db">
            <express-middleware method="post" path="/login" callback="[[loginHandler]]"></express-middleware>
            <express-middleware method="get" path="/user-list" callback="{{userListMW}}"></express-middleware>
            <express-middleware method="post" path="/new-user" callback="[[newUserHandler]]"></express-middleware>
        </express-router>

        <db-query id="dbQuery" model="[[userModel]]">
            <db-find query='{"username":"Test1","email": "test@gmx.at"}'></db-find>
            <db-limit limit="0"></db-limit>
        </db-query>
    </template>

    <script>

        class DBRouter extends Polymer.Element {

            static get is() {
                return 'db-router';
            }

            constructor() {
                super();

            }

            connectedCallback() {
                super.connectedCallback();

//                setTimeout(() => {
//                    this.testDbQuery();
//                }, 5000);
            }

            ready() {
                super.ready();
                // When possible, use afterNextRender to defer non-critical
                // work until after first paint.
                Polymer.RenderStatus.afterNextRender(this, function () {
                });

                console.dir(this.$);

                this.userListMW = (req, res) => {
                    this.testDbQuery(req, res);
                };

                this.query = '{"name":"Test"}';
                this.userModel = UsersModel;
            }

            testDbQuery(req, res) {
                /* querySelector cant access the components functions, returns undefined*/
                console.dir(this.shadowRoot.querySelector('#dbQuery'));
                /* need get element by id to access function  */
                this.shadowRoot.getElementById("dbQuery").execute(function (err, users) {
                    console.log("Query did it yayaaaaaay");
                    res.json({success: true, users: users});
                });

            }


            // GET db user list. // THIS is not accessable in middleware callback but in class methods only
            userListHandler(req, res) {

                // START query component
//                this.testDbQuery(req, res);

                // END  query component
                console.log("DB handler for user list");
                console.log(req.query.sort);


                let order = -1;
                let _column = 'username';

                /*
                 * req.query contains all GET Parameters
                 * via query.<parameter> the parameter is accessed
                 *
                 * --get the sort parameter--
                 *
                 */
                if (req.query.sort !== "") {
                    let arr = req.query.sort.split(","); //sort ex.: "username,asc"
                    _column = arr[0];
                    if (arr[1] === "asc")
                        order = 1;
                }

                let _sort = {[_column]: order};
                if (_column == "undefined") {
                    _sort = {};
                }


                UsersModel.getAllUsers(_sort, (err, users) => {
                    if (err) {
                        res.json({success: false, message: `Failed to load all lists. Error: ${err}`});
                    }
                    else {
                        res.write(JSON.stringify({success: true, users: users}, null, 2));
                        res.end();

                    }
                });


            }

            //insert new user into db
            newUserHandler(req, res) {

                console.log("db-router new USER handler");

                // Get our form values. These rely on the "name" attributes
                // create new User and call function addUser from the users model
                let newUser = new UsersModel({
                    username: req.body.username,
                    email: req.body.email,
                    password: req.body.password
                });

                UsersModel.addUser(newUser, (err, result) => {
                    if (err) {
                        res.json({success: false, message: `Failed to create a new user. Error: ${err}`});

                    }
                    else
                        res.json({success: true, message: "User added successfully."});
                });

            }

            //check login
            loginHandler(req, res) {

                console.log("db-router login attempt");

                var username = req.body.username;
                var password = req.body.password;

                UsersModel.validateUser(username, password, (err, valid) => {
                    if (err) {
                        res.json({success: false, valid: false, message: `Failed to validate user. Error: ${err}`});
                    }
                    else {
                        res.json({success: true, valid: valid, message: "User validated."});
                        // TODO: set userToken in localStorage or session if valid
                    }
                });
            }
        }


        customElements.define(DBRouter.is, DBRouter);
    </script>
</dom-module>
