<script>
    class DbFind extends HTMLElement {
        constructor() {
            super();

            this.findQuery = {};
        }

        static get observedAttributes() {
            return ['find-query'];
        }

        attributeChangedCallback(name, oldValue, newValue) {
            switch (name) {
                case 'find-query': {
                    this.findQuery = newValue;
                    break;
                }
            }
        }

        connectedCallback() {
//            console.log(this.findQuery);
        }
    }

    window.customElements.define('db-find', DbFind);
</script>
