<script>

    class DbQuery extends HTMLElement {

        constructor() {
            super();

            this.dbModel = null;

            this._children = [];
            this.findQuery = {};
            this.limit = null;
            this.sort = {};


        }

        static get observedAttributes() {
            return ['db-model'];
        }

        // Respond to attribute changes.
        attributeChangedCallback(attr, oldValue, newValue) {
            if (attr === 'db-model') {
                this.dbModel = newValue;
            }
        }

        connectedCallback() {
            this._children = Array.from(this.shadowRoot ? this.shadowRoot.children : this.children);

            this.initChildren();
        }

        initChildren() {

            // iterate through db children and set query parameters
            this._children.forEach((child) => {
                console.dir(child);

                // db-find element, get query attribute, check if the attribute has value
                if (child.nodeName === "DB-FIND") {

                    console.log(child.findQuery);
                    // string JSON query
                    if (child.getAttribute("findQuery") && child.hasAttribute("findQuery")) {
                        this.findQuery = JSON.parse(child.getAttribute("findQuery"));
                    } else if (child.findQuery) {
                        this.findQuery = child.findQuery;
                    }
                }

                // db-limit element, get limit attribute
                if (child.nodeName === "DB-LIMIT" && child.hasAttribute("limit")) {
                    this.limit = child.getAttribute("limit");
                }
            });
        }


        buildQuery() {
            this.initChildren();
        }

        execute(callback) {

            const find = this.findQuery;
            const limit = parseInt(this.limit);

            this.dbModel.find(find).limit(limit).exec(function (err, results) {
                callback(err, results);
            });
        }
    }

    window.customElements.define('db-query', DbQuery);
</script>
